{
  "env": {
    // "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "airbnb-base"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle" : "off",
    "camelcase": "off",
    "consistent-return":"off",
    "object-curly-newline":"off",
    "operator-linebreak":"off",
    "indent":"off",
    "no-restricted-syntax":"off",
    "no-await-in-loop":"off",
    "implicit-arrow-linebreak":"off",
    "no-prototype-builtins":"off",
    "linebreak-style":"off"
  }
}
